html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background-color: #1C1C1C;
  color: rgb(235, 235, 235);
  margin: 0;

  font-family: 'Lucida Grande', Arial, Tahoma, Verdana;
  font-size: 17px;
}

#main {
  display: flex;
  height: 100%;
  max-height: 100%;
}

nav {
  position: absolute;
  overflow-y: scroll;
  height: 100%;
  width: 40%;
  top: 0;
  left: 0;
  bottom: 0;
}

ul {
  margin: 0;
}

section {
  margin-left: 40%;
}

.selected {
  color: red;
}
